#{extends 'main.html' /}
#{set title:'Home' /}


<div class="grid_12">
   <img src="/public/images/texte_are_you.jpg" alt="Are you a Play! Framework developer ?"/>
   <p>Create your profile and see who is also using Play! Framework in your country.</p> 
</div>

<div class="grid_8">
<div class="mapBox">
<img src="http://maps.google.com/maps/api/staticmap?center=paris,france&zoom=2&size=900x400&sensor=false" alt="Google Map Static Map"/>
</div>
</div>
<div class="grid_4">
<h3><img src="/public/images/fleche.jpg" alt=">" align="middle"/>Add your profile</h3>
<p>Join the Player! comunity, create your profile with a valid email address:</p>    
#{form @Application.register()}

<table>
    <tr>
        <td class="rightCell"><label for="email" title="Email">Email:</label></td>
        <td><input type="email" name="email" id="email" value=""/></td>
    </tr>
    <tr>
        <td class="rightCell"><label for="name" title="Name">Name:</label></td>
        <td><input type="text" name="name" id="name" value=""/></td>
    </tr>

    <tr>
        <td class="rightCell"><label for="location" title="Location">Your location:</label></td>
        <td><input type="text" name="location" id="location" value=""/></td>
    </tr>

    <tr>
        <td class="rightCell"><label for="startedPlay" title="">When did you start to use Play!</label></td>
        <td><input type="date" id="startedPlay" name="startedPlay" value="2010-10-01"/></td>
    </tr>
     <tr>
         <td>
         </td>
         <td><input type="submit" value="Create my profile"/> </td>
     </tr>
</table>

#{/form}

#{if flash.success}
<div class="successBox">${flash.success}</div>
#{/if}

#{if flash.error}
<div class="errorBox">${flash.error}</div>    
#{/if}

</div>

<div class="clear"></div>